.homeHeading {
  text-align: center;
  font-family: Urbanist;
  font-weight: bold;
  font-size: 1.4vmax;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
}
